/* Page */

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: #19191A;
}

img { max-width: 100% }
svg { max-height: 100% }

.section {
  text-align: center;
  padding-top: 6em;
  padding-bottom: 6em;
  font-size: 1.5em;
}

.section > h1, p {
  width: 80%;
  margin: 0 auto;
}

/* Nav */

#nav > img {
  height: 2.5em;
  padding: 10px;
}

#lang {
  display: inline-block;
  float: right;
  padding: 20px;
}

#lang > a {
  color: #4A4A4A;
  text-decoration: none;
  padding-left: 7px;
  font-weight: 300;
}

#lang > a:hover {
  color: #9B9B9B;
}

/* Hero */

#hero {
  text-align: center;
  background: url("images/2.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	background-color: #707273;
	background-blend-mode: multiply;
  color: #FFF;
}

#hero > h1 {
  font-size: 3.5em;
}

/* Content */

/* Form */

#form {
  background-color: #19191A;
  color: #FFF;
  padding-top: 4em;
  padding-bottom: 4em;
}

.form-container {
  background-color: #707273;
  width: 75%;
  padding: 20px;
  margin: 0 auto;
}

.form-container > p {
  padding: 10px;
  font-size: 1.5em;
}

form > input.field {
  border: none;
  border-radius: 0;
  color: #707273;
  margin: 10px 0 10px 0;
}

.btn {
  background-color: #45E6A3;
}

.btn:hover {
  background-color: #3CC98F;
  cursor: pointer;
}
